.pagination-list {
  list-style: none;
  margin: 0;
}

.pagination-list.hide {
  display: none;
}

.pagination-list li {
  display: inline-block;
  padding: 3px 10px;
  background: #ffffff;
  margin: 0px 3px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(241 241 241);
}
.pagination-list li.spacer {
  pointer-events: none;
}

.pagination-list li.show {
  display: inline-block;
}
.pagination-list li.hide {
  display: none;
}

.pagination-list li.active {
  background: #dcffff;
}

li.disabled {
  pointer-events: none;
  background: #cdcdcd1f;
}
